.container {
    margin-top: 5%;
    text-align: center;
    background-color: bisque;
    width:70%;
    padding: 1em 1em;
}

.operation {
    margin-top: 5%;
}

h1 {
    font-size: 50px;
    margin-bottom: 5%;
}

.answer {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    background-color: rgb(253, 253, 253);
    margin-bottom: 1%;
}
